.gitattributes text
.gitignore text
.clang-format text
*.cpp text
*.h text
*.bat eol=crlf
*.md text
*.rc text
sconstruct text
*sconscript text
*.nsi text
*.txt text
*.ini text
*.yml text
*.sh eol=lf
*.py text
*.po text
