/*
 * OSARA: Open Source Accessibility for the REAPER Application
 * Resource script
 * Author: James Teh <jamie@jantrid.net>
 * Copyright 2015 James Teh
 * License: GNU General Public License version 2.0
 */

#include <windows.h>
#include <CommCtrl.h>
#include "resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK

// todo: Fix positioning.
ID_FX_PARAMS_DLG DIALOGEX 0, 0, 500, 500
	CAPTION "FX Parameters"
{
	LTEXT "Parameter:", 0, 10, 10, 10, 10
	COMBOBOX ID_FX_PARAM, 20, 10, 10, 10, CBS_DROPDOWNLIST | WS_TABSTOP
	LTEXT "Value:", 0, 10, 20, 10, 10
	CONTROL "", ID_FX_PARAM_VAL_SLIDER, TRACKBAR_CLASS, WS_TABSTOP, 30, 20, 10, 10
	DEFPUSHBUTTON "Close", IDCANCEL, 10, 30, 10, 10
}
