/*
 * OSARA: Open Source Accessibility for the REAPER Application
 * Resource script
 * Author: James Teh <jamie@jantrid.net>
 * Copyright 2015-2017 NV Access Limited
 * License: GNU General Public License version 2.0
 */

#include <windows.h>
#include <CommCtrl.h>
#include "resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK

ID_PARAMS_DLG DIALOGEX 250, 125, 188, 102
	CAPTION "Parameters"
BEGIN
	LTEXT "Parameter:", IDC_STATIC, 10, 7, 38, 10
	COMBOBOX ID_PARAM, 55, 6, 108, 12, CBS_DROPDOWNLIST | WS_TABSTOP
	LTEXT "Value:", IDC_STATIC, 10, 30, 23, 10
	// SWELL doesn't have the TRACKBAR_CLASS constant.
	CONTROL "", ID_PARAM_VAL_SLIDER, "msctls_trackbar32", WS_TABSTOP, 40, 30, 60, 10
	EDITTEXT ID_PARAM_VAL_EDIT, 112, 30, 40, 10
	LTEXT "Filter:", IDC_STATIC, 10, 53, 23, 10
	EDITTEXT ID_PARAM_FILTER, 40, 52, 40, 10
	DEFPUSHBUTTON "&Close", IDCANCEL, 134, 78, 26, 14
END

ID_PEAK_WATCHER_DLG DIALOGEX 250, 125, 354, 164
	CAPTION "Peak Watcher"
BEGIN
	LTEXT "First track:", IDC_STATIC, 10, 10, 38, 10
	COMBOBOX ID_PEAK_TRACK1, 55, 8, 60, 12, CBS_DROPDOWNLIST | WS_TABSTOP
	LTEXT "Second track:", IDC_STATIC, 10, 30, 60, 10
	COMBOBOX ID_PEAK_TRACK2, 65, 28, 60, 12, CBS_DROPDOWNLIST | WS_TABSTOP
	GROUPBOX "Notify automatically for channels:", IDC_STATIC, 5, 57, 156, 60
	CONTROL "&1", ID_PEAK_CHAN1, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 73, 20, 14
	CONTROL "&2", ID_PEAK_CHAN2, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 41, 73, 20, 14
	LTEXT "When &level reaches (dB):", IDC_STATIC, 11, 98, 84, 10
	EDITTEXT ID_PEAK_LEVEL, 100, 97, 40, 10
	GROUPBOX "Hold peaks:", IDC_STATIC, 173, 57, 156, 60
	CONTROL "&disabled", ID_PEAK_HOLD_DISABLED, "Button", BS_AUTORADIOBUTTON, 180, 73, 40, 14
	CONTROL "&until reset", ID_PEAK_HOLD_FOREVER, "Button", BS_AUTORADIOBUTTON, 227, 73, 42, 14
	CONTROL "for (&ms):", ID_PEAK_HOLD_FOR, "Button", BS_AUTORADIOBUTTON, 276, 73, 40, 14
	EDITTEXT ID_PEAK_HOLD_TIME, 227, 97, 40, 10
	PUSHBUTTON "&Reset", ID_PEAK_RESET, 180, 133, 40, 14
	DEFPUSHBUTTON "&OK", IDOK, 227, 133, 40, 14
	PUSHBUTTON "&Cancel", IDCANCEL, 276, 133, 40, 14
END

ID_CONFIG_DLG DIALOGEX 250, 125, 182, 98
	CAPTION "OSARA Configuration"
BEGIN
	CONTROL "Report position when &scrubbing", ID_CONFIG_REPORT_SCRUB, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 6, 140, 14
	CONTROL "Report &FX when moving to tracks/takes", ID_CONFIG_REPORT_FX, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 26, 140, 14
	CONTROL "Report &transport state (play, record, etc.)", ID_CONFIG_REPORT_TRANSPORT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 46, 140, 14
	DEFPUSHBUTTON "&OK", IDOK, 10, 66, 30, 14
	PUSHBUTTON "&Cancel", IDCANCEL, 110, 66, 40, 14
END
